[packages]
black = "*"
flake8 = "*"
ipython = "*"
isort = "*"
jupyterlab = "*"
loguru = "*"
matplotlib = "*"
mkdocs = "*"
notebook = "*"
numpy = "*"
pandas = "*"
pip = "*"
python-dotenv = "*"
scikit-learn = "*"
tqdm = "*"
typer = "*"
"mlops_model" ={editable = true, path = "."}
ydata-profiling = "*"
requests = "*"
hyperopt = "*"
pycaret = {extras = ["tuners"], version = "*"}
optuna = "*"
ray = "*"
scikit-optimize = "*"

[requires]
python_version = "3.11"
